<!DOCTYPE html>
<html>
<head>
  <title>
    <% if content_for?(:title) %>
      <%= yield(:title) %>
    <% else %>
      Ticketee
      <% end %>
  </title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
<%= flash.each do |key,message| %>
  <div class="alert alert-<%= key %>">
    <%= message %>
  </div>
<% end %>
<ul class="actions">
  <li class="<%= "active" if current_page?("/users/sign_up") %>"></li>
    <%= link_to "Sign up", new_user_registration_path %>
  </li>
</ul>
<%= yield %>

</div>

</body>
</html>
